<section class="appreciate">
  <div class="money-like" id="like-money">
    <div class="reward-button" id="appreciate">赏
      <span class="money-code" >
        <span class="alipay-code">
          <img  class="alipay-img" id="alipay-img" src="{{asset "img/alipay.png"}}"><b>支付宝扫码打赏</b>
        </span>
        <span class="wechat-code">
          <img  class="wechat-img" id="wepay-img" src="{{asset "img/wepay.png"}}"><b>微信打赏</b>
        </span>
      </span>
    </div>
      <p class="money-notice">若你觉得我的文章对你有帮助,欢迎点击上方按钮对我打赏</p>
    </div>
</section>
